In [1]:
# Datenverarbeitung
import pandas as pd

# Visualisierung
import altair as alt

# Deaktivierung der Warnungen von Altair
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Ermöglicht die Darstellung von umfrangreichen Datensätzen
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

In [3]:
# Globale Variablen
domain = ['precious_metals', 'industrial_metals', 'grains', 'livestocks', 'energy', 'softs']
range_ = ['gold', 'grey', 'green', 'red', 'darkblue', 'lightblue']

In [4]:
df = pd.read_csv("data/commodity_df.csv")

In [5]:
df.head()

,date,year,month,category,mean_category,natural_gas,wti_crude,brent_crude,low_sulphur_gas_oil,uls_diesel,...,corn,soybean_oil,soybean_meal,wheat,hrw_wheat,live_cattle,lean_hogs,sugar,coffee,cotton
0,2000-01-03,2000,1,energy,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-04,2000,1,energy,66.6792,2.176,25.55,24.39,213.50,67.78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-05,2000,1,energy,66.0716,2.168,24.91,23.73,213.00,66.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-01-06,2000,1,energy,65.6252,2.196,24.78,23.62,211.25,66.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-01-07,2000,1,energy,63.8966,2.173,24.22,23.09,205.25,64.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Diagramm 4
# Dieses Diagramm bildet drei Bar Plots ab.
# Die drei Plots stellen die durchschnittlichen Preise pro Ware für die Jahre 2000, 2007/08 und 2022 dar

#Plot für 2022
fig_22 = alt.Chart(df[(df.year==2022)]).mark_bar(tooltip=True).encode(
    x=alt.X('mean_category:Q',
            aggregate='mean',
            scale=alt.Scale(domain=[0,1040]),
            axis=alt.Axis(title='Rohstoffpreis (€), Durchschnitt')
            ),
    y=alt.Y('category:N',
            sort='-x',
            axis=alt.Axis(title='Rohstoff')),
     color=alt.Color('category:N',
                    scale=alt.Scale(domain=domain, range=range_),
                    sort=alt.EncodingSortField('mean_category', op='mean', order='descending'),
                    title='Rohstoffe'
    )
).properties(title='durchschnittliche Rohstoffpreise 2022, kategorisiert', height=250, width=1600)

# Plot für 2007/08
fig_78 = alt.Chart(df[(df.year==2007) | (df.year==2008)]).mark_bar(tooltip=True).encode(
    x=alt.X('mean_category:Q',
            aggregate='mean',
            scale=alt.Scale(domain=[0,1040]),
            axis=alt.Axis(title='Rohstoffpreis (€), Durchschnitt')
            ),
    y=alt.Y('category:N',
            sort='-x',
            axis=alt.Axis(title='Rohstoff')),
     color=alt.Color('category:N',
                    scale=alt.Scale(domain=domain, range=range_),
                    sort=alt.EncodingSortField('mean_category', op='mean', order='descending'),
                    title='Rohstoffe'
    )
).properties(title='durchschnittliche Rohstoffpreise 2007/08, kategorisiert', height=250, width=1600)

#Plot für 2000
fig_00 = alt.Chart(df[(df.year==2000)]).mark_bar(tooltip=True).encode(
    x=alt.X('mean_category:Q',
            aggregate='mean',
            scale=alt.Scale(domain=[0,1040]),
            axis=alt.Axis(title='Rohstoffpreis (€), Durchschnitt')
            ),
    y=alt.Y('category:N',
            sort='-x',
            axis=alt.Axis(title='Rohstoff')),
     color=alt.Color('category:N',
                    scale=alt.Scale(domain=domain, range=range_),
                    sort=alt.EncodingSortField('mean_category', op='mean', order='descending'),
                    title='Rohstoffe'
    )
).properties(title='durchschnittliche Rohstoffpreise 2000, kategorisiert', height=250, width=1600)

# vertikale Verknüpfung der Plots zu Diagramm 4
fig_4 = fig_00 & fig_78 & fig_22

In [7]:
# fig_4

Werfen wir zuletzt noch einen Blick auf den generellen preislichen Anstieg. Ganz offensichtlich und nicht überraschen sind die Preise seit dem Jahr 2000 stark gestiegen. Wie schon durch die vorherigen Plots angekündigt, zeigt sich auch hier, dass Industrielle Metalle preislich am stärksten gestiegen sind. Interessanterweise ist der Preis in den Jahren 2007/08 im Vergleich zu 2022 nahe zu identisch (1029€, 1027€). Auch der Anstieg von Edelmetallen ist bemerkenswert. Lag dieser im Jahr 2000 im Schnitt bei 142€, erreicht er 2007/08 schon 399€ und entwickelt sich zu 2022 sogar bis 912€. Auch die Getreidepreise steigen stark an erreichen diese über die Jahr 218€, 513€ bis hin zu 726€. Die Preise für Energierohstoffe sind im Jahre 2000 mit durchschnittlich 80€ sehr günstig. Diese liegen 2007/08 schon bei 238€ und 2022 bei 321€. Und auch wenn Lebenvieh und Softs über die Zeit am stabilsten waren und nur langsam gestiegen sind, liegt ihre Differenz von 2000 zu 2022 immerhin auch bei Lebendvieh bei 120€ und bei Softs bei 145€.